---
interface Props {
    task : {
	title: string;
	completed: Number;
	id: Number;
    }
}

const { task } = Astro.props;
---

<div>
    <a href={`/tasks/${task.id}`}>{task.id}</a> 
    <h2>{task.title}</h2>
    <p>{task.completed ? "Completed" : "Pending"}</p>
    <hr />
</div>
