---
import Layout from '../../layouts/Layout.astro'
import { replicatedDB } from '../../lib/db.ts'

const pageTitle = "Tasks";
const { rows } = await replicatedDB.execute("SELECT * FROM tasks;")
---
<Layout title={pageTitle}>
    <div>
        <h2>{pageTitle}</h2>
        <ul>
            {rows.map((task) => (
                <li>{task.title} - {task.completed ? "Completed" : "Pending"} - {task.id}</li>
            ))}
        </ul>
    </div>
</Layout>
