---
import { ViewTransitions } from 'astro:transitions';
import '../app.css'
const session = await Astro.locals.auth.validate();

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/transactions">Transactions</a>
			<a href="/partners">Partners</a>
			{!session &&
			<a href="/auth/login">Login</a>
			<a href="/auth/signup">Signup</a>
			}
			{session && 
			<a href="/auth/profile">Profile</a>
			}
		</nav>
		<slot />
	</body>
</html>

<style is:global>
	body {
  font-size: 1.5em;
}

nav {
  display: flex;
}
nav a {
  margin-right: 2px;
  margin-bottom: 2px;
  text-decoration: none;
}

nav a:active {
	border-bottom: 2px solid green;
}
</style>

